.message-main {
  background: #e91e63;
  box-sizing: border-box;
  padding-bottom: 24px;
  position: relative;
}

.text {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  min-height: 19px;
  padding-left: 0.1em;
  padding-right: 15px;
  padding-top: 0.1em;
  white-space: pre-line;
  word-break: break-word;
}

textarea {
  background-color: #fff;
  border-width: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 52px;
  outline: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0.3em 0.5em 0;
  resize: none;
  width: 100%;
}

.messsage-body .delete-link {
  top: auto;
  right: 12px;
  bottom: 12px;
  left: auto;
  font-size: 1em;
}

.message .back {
  position: relative;
  /* padding-bottom: 4px; */
  color: white;
}

.back span {
  color: #df3e3e;
}

.message-body .message-body-link {
  position: absolute;
  top: .4em;
  right: .5em;
}

.new-back {
  background-color: #e91e63;
  box-sizing: border-box;
  color: #fff;
  padding-bottom: 4px;
  position: relative;
  z-index: 10;
}

.add-message {
  background-color: #00c853;
  border-bottom: 2px solid #00a946;
  border-radius: 2px;
  border-width: 0;
  bottom: 14px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 0.7em;
  height: 20px;
  left: 14px;
  line-height: 2em;
  margin-left: 0;
  padding: 0;
  position: absolute;
  transition: background 0.2s, border 0.2s;
  width: 43px;
}

.pencil {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #fce4ec;
  display: inline-block;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  cursor: pointer;
}

.message-bodylink {
  position: absolute;
  top: 0.4em;
  right: 0.5em;
}

.message-body {
  box-sizing: border-box;
  padding: 0.5em 0.5em 0;
}
